<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>宣讲会详情页</title>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <!-- 样式 -->
    <link rel="stylesheet" href="../../css/style.css"/>
    <!-- 主题（主要颜色设置） -->
    <link rel="stylesheet" href="../../css/theme.css"/>
    <!-- 通用的css -->
    <link rel="stylesheet" href="../../css/common.css"/>
    <link rel="stylesheet" href="../../xznstatic/css/bootstrap.min.css">
</head>
<style>
    .particulars {
        width: 90%;
        background-color: #fff;
        border-bottom: 1px dotted var(--publicMainColor);
        padding: 10px 0;
    }

    .dataExhibition {
        display: inline-block;
        width: 60%;
    }

    .displayBianhao {
        display: inline-block;
        width: auto;
    }

    .detail-tab .layui-tab-card>.layui-tab-title .layui-this{
        border: 2px dotted var(--publicMainColor);
        background-color: #fff;
        color: #000;
    }</style>
<body>

    <div id="app">
<div style="width: 1000px;margin: 10px auto;height: auto;">
    <div style="border: 1px  dotted var(--publicMainColor);border-radius: 15px;margin-top:25px;height: 50px;line-height: 50px;padding-left: 15px;display: flex;justify-content: space-between;align-items: center;padding-right: 15px;">
        <span>
            <a style="color: #000;" href="../home/home.html">
                首页
            </a>/
            <a>
                <cite style="color: #815476;">
                    {{title}}
                </cite>
            </a>
        </span>
        <a v-if='storeupFlag' @click="addXuanjianghuiCollection()" href="javascript:void(0)" style="text-decoration: none;display: block;width: 40px;height: 40px; border-radius: 50%;text-align: center;line-height: 40px;background-color: #fff;">
            <i class="layui-icon" style="font-size: 40px;color: red;" v-if='true'>&#xe67a;</i>
        </a>
        <a style="text-decoration: none;display: block;width: 40px;height: 40px; border-radius: 50%;text-align: center;line-height: 40px;background-color: #fff;"
           v-if='!storeupFlag' @click="addXuanjianghuiCollection()" href="javascript:void(0)">
            <i class="layui-icon" style="font-size: 40px;color: red;" v-if='true'>&#xe67b;</i>
        </a>
    </div>
    <div style="display: flex;margin-top: 20px;">
        <!-- 详情介绍 -->
        <div style="width: 50%;height: auto;">
            <div class="particulars" style="text-align: center;font-size: 18px;">
                <span>{{title}}</span>
            </div>
                  <div v-if="detail.xuanjianghuiDaiyu" class="particulars">
                      <span class="displayBianhao">企业资质:</span>
                      <span class="dataExhibition"> {{detail.xuanjianghuiDaiyu}} </span>
                  </div>
                  <div v-if="detail.xuanjianghuiTypes" class="particulars">
                      <span class="displayBianhao">宣讲会类型:</span>
                      <span class="dataExhibition"> {{detail.xuanjianghuiValue}} </span>
                  </div>
                  <div v-if="detail.zhuanyeTypes" class="particulars">
                      <span class="displayBianhao">专业:</span>
                      <span class="dataExhibition"> {{detail.zhuanyeValue}} </span>
                  </div>
                  <div v-if="detail.xuanjianghuiGangwei" class="particulars">
                      <span class="displayBianhao">招聘岗位:</span>
                      <span class="dataExhibition"> {{detail.xuanjianghuiGangwei}} </span>
                  </div>
                  <div v-if="detail.xuanjianghuiRenshuNumber" class="particulars">
                      <span class="displayBianhao">招聘人数:</span>
                      <span class="dataExhibition"> {{detail.xuanjianghuiRenshuNumber}} </span>
                  </div>
                  <div v-if="detail.xuanjianghuiTime" class="particulars">
                      <span class="displayBianhao">宣讲时间:</span>
                      <span class="dataExhibition"> {{detail.xuanjianghuiTime}} </span>
                  </div>
                  <div v-if="detail.xianxiaTypes" class="particulars">
                      <span class="displayBianhao">线下面试:</span>
                      <span class="dataExhibition"> {{detail.xianxiaValue}} </span>
                  </div>
        </div>
        <!-- 图片 -->
        <div style="width: 50%;height: auto;">
            <div>
                <div v-if="swiperList.length" v-for="(item,index) in swiperList" :key="index">
                    <img style="width: 100%;height: 100%;object-fit:cover;" :src="baseUrl+item" />
                </div>
            </div>
        </div>
    </div>
    <!-- 按钮 -->
    <div style="width: 100%;">
        <div  style="display: flex;margin-top: 30px;justify-content: center;border-bottom:1px dotted var(--publicMainColor) ;border-top:1px dotted var(--publicMainColor) ;padding: 20px;align-items: center;">
            <button @click="submitXuanjianghuiYuyue()"  style="height:auto;" :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.3)","margin":"0 5px","borderColor":"rgba(0,0,0,.3)","backgroundColor":"rgba(23, 124, 176, 1)","color":"rgba(255, 255, 255, 1)","borderRadius":"6px","borderWidth":"0","width":"auto","lineHeight":"40px","fontSize":"16px","borderStyle":"solid"}' type="button" class="layui-btn btn-submit">
                立即报名
            </button>
            <!--
             <button @click="xuanjianghuiYuyue()" style="height:auto;" :style='{"padding":"0 10px","boxShadow":"0 0 0px rgba(255,0,0,.3)","margin":"0 5px","borderColor":"rgba(0,0,0,.3)","backgroundColor":"rgba(23, 124, 176, 1)","color":"rgba(255, 255, 255, 1)","borderRadius":"6px","borderWidth":"0","width":"auto","lineHeight":"40px","fontSize":"16px","borderStyle":"solid"}' type="button" class="layui-btn btn-submit">
                 立即预约
             </button>
        -->
        </div>
    </div>

    <!-- 视频 -->


    <!-- 评论 -->
    <div class="layui-row detail-tab" style="border: none;box-shadow: none;">
        <div class="layui-tab layui-tab-card" style="overflow: hidden;border: none; box-shadow: none;">
            <ul class="layui-tab-title " :style='{"backgroundColor":"#fff","fontSize":"14px"}' style="color: var(--publicMainColor);border: none;">
                <li class="layui-this">宣讲会详情</li>
                <li></li>
            </ul>

            <div class="layui-tab-content" style="border: 1px dotted var(--publicMainColor);border-radius: 15px;margin-top: 10px;margin-bottom: 50px;">
                <div class="layui-tab-item layui-show">
                    <div v-html="myFilters(detail.xuanjianghuiContent)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 预约和报名模态框 -->
<el-dialog title="宣讲会报名" :visible.sync="xuanjianghuiYuyueModal" :modal-append-to-body="false">
    <el-form>

    </el-form>
    <div slot="footer" class="dialog-footer">
        <el-button @click="xuanjianghuiYuyueModal = false">关 闭</el-button>
        <el-button type="primary" @click="submitXuanjianghuiYuyue()">提 交</el-button>
    </div>
</el-dialog>    </div>


    <script src="../../layui/layui.js"></script>
    <script src="../../js/vue.js"></script>
    <!-- 引入element组件库 -->
    <script src="../../xznstatic/js/element.min.js"></script>
    <!-- 引入element样式 -->
    <link rel="stylesheet" href="../../xznstatic/css/element.min.css">
    <!-- 组件配置信息 -->
    <script src="../../js/config.js"></script>
    <!-- 扩展插件配置信息 -->
    <script src="../../modules/config.js"></script>
    <!-- 工具方法 -->
    <script src="../../js/utils.js"></script>

    <script>
        Vue.prototype.myFilters= function (msg) {
            if(msg != null){
                return msg.replace(/\n/g, "<br>");
            }else{
                return "";
            }
        };
        var vue = new Vue({
            el: '#app',
            data: {
                //当前登录用户信息
                user:{},
                // 轮播图
                swiperList: [],//用于当前表的图片
                // 数据详情
                detail: {
                    id: 0
                },
                // 商品标题
                title: '',
                totalScore: 0,//评分
                baseUrl:"",//路径
                storeupFlag: 0,//收藏 [0为收藏 1已收藏]
                //系统推荐
                xuanjianghuiRecommendList: [],
                    // 当前详情页表
                detailTable: 'xuanjianghui',
                //宣讲会报名
                xuanjianghuiYuyueModal:false,
                xuanjianghuiYuyueText:"",
            },
            methods: {
                //分享
                share(){
                    let element = createElement("http://localhost:8080/gaoxiaoxuanjianghuiguanli/front/index.html?url="+"./pages/xuanjianghui/detail.html?id="+this.id);
                    element.select();
                    element.setSelectionRange(0, element.value.length);
                    document.execCommand('copy');
                    element.remove();
                    layui.layer.msg('复制分享页面成功,快去分享吧!', {time: 2000,icon: 6});
                },

                jump(url) {
                    jump(url)
                },
                isAuth(tablename, button) {
                    return isFrontAuth(tablename, button)
                },
                //预约
                xuanjianghuiYuyue(){
                    let _this = this;
                    // localStorage.setItem('xuanjianghuiId', _this.detail.id);
                    // _this.jump("../xuanjianghuiOrder/add.html");

                    let data={
                        xuanjianghuiId:_this.detail.id,
                        yonghuId:localStorage.getItem("userid"),
                        xuanjianghuiOrderYesnoTypes:1,
                    }
                    // 提交数据
                    layui.http.requestJson('xuanjianghuiOrder/add', 'post', data, function (res) {
                        if(res.code == 0) {
                            layui.layer.msg('预约成功', {
                                time: 2000,
                                icon: 6
                            }, function () {
                                _this.jump("../xuanjianghuiOrder/list.html");
                            });
                        }else{
                            layui.layer.msg(res.msg, {
                                time: 5000,
                                icon: 5
                            });
                        }
                    });
                },
                //提交宣讲会报名
                submitXuanjianghuiYuyue(){
                    let _this = this;

                    let data={
                        xuanjianghuiId:_this.detail.id, // 当前表id
                        yonghuId:localStorage.getItem("userid"),// 宣讲会报名人
                        xuanjianghuiYuyueUuidNumber:new Date().getTime()
                    }
                    // 提交数据
                    layui.http.requestJson('xuanjianghuiYuyue/add', 'post', data, function (res) {
                        if(res.code == 0) {
                            layui.layer.msg('宣讲会报名成功', {
                                time: 2000,
                                icon: 6
                            }, function () {
                                _this.jump("../xuanjianghuiYuyue/list.html");
                            });
                        }else{
                            layui.layer.msg("已经预约过了,无法重复预约", {
                                time: 5000,
                                icon: 5
                            });
                        }
                    });
                },                // 收藏商品
                addXuanjianghuiCollection() {
                    let _this = this;
                    layui.http.request('xuanjianghuiCollection/list', 'get', {
                        page: 1,
                        limit: 1,
                        xuanjianghuiId: _this.detail.id,
                        xuanjianghuiCollectionTypes: 1,
                        yonghuId: localStorage.getItem('userid'),
                    }, (res) => {
                        if (res.data.list.length == 1) {
                            layui.http.requestJson('xuanjianghuiCollection/delete', 'post', [res.data.list[0].id], function (res) {
                                layui.layer.msg('取消成功', {
                                    time: 1000,
                                    icon: 5
                                }, function () {
                                    window.location.reload();
                                });
                            });
                            return false;
                        }
                        layui.http.requestJson('xuanjianghuiCollection/add', 'post', {
                            yonghuId: localStorage.getItem('userid'),
                            xuanjianghuiId: _this.detail.id,
                            xuanjianghuiCollectionTypes: 1,
                        }, function (res) {
                            layui.layer.msg('收藏成功', {
                                time: 1000,
                                icon: 6
                            }, function () {
                                window.location.reload();
                            });
                        });
                    });
                },

                }
        });

        layui.use(['layer', 'form', 'element', 'carousel', 'http', 'jquery', 'laypage', 'util'], function () {
            var layer = layui.layer;
            var util = layui.util;
            var element = layui.element;
            var form = layui.form;
            var carousel = layui.carousel;
            var http = layui.http;
            var jquery = layui.jquery;
            var laypage = layui.laypage;
            vue.baseUrl = http.baseurl

            localStorage.setItem("goUtl","./pages/xuanjianghui/detail.html?id="+ http.getParam('id'))

            var limit = 10;

            let table = localStorage.getItem("userTable");
            if(table){
                http.request(table+"/session", 'get', {}, function (data) {
                    vue.user = data.data;
                });
            }

            // 数据ID
            var id = http.getParam('id');
            vue.detail.id = id;
            // 数据信息
            http.request(`${vue.detailTable}/detail/` + id, 'get', {}, function (res) {
                // 详情信息
                vue.detail = res.data;
                vue.title = vue.detail.xuanjianghuiName;
                vue.detail.xuanjianghuiContent = vue.detail.xuanjianghuiContent.replaceAll("src=\"upload/","src=\""+vue.baseUrl+"upload/");
                // 轮播图片
                vue.swiperList = vue.detail.xuanjianghuiPhoto ? vue.detail.xuanjianghuiPhoto.split(",") : [];
                // 轮播图
                vue.$nextTick(() => {
                    carousel.render({
                        elem: '#swiper',
                        width: '420px',
                        height: '400px',
                        arrow: 'hover',
                        anim: 'default',
                        autoplay: 'true',
                        interval: '3000',
                        indicator: 'inside'
                    });
                });

            });


            // 系统推荐
            http.request(`xuanjianghui/gexingtuijian`, 'get', {
                page: 1,
                limit: 5,
                xuanjianghuiTypes: vue.detail.xuanjianghuiTypes,
                xuanjianghuiYesnoTypes:2,//审核通过的
                zhuanyeTypes: vue.detail.zhuanyeTypes,
                xianxiaTypes: vue.detail.xianxiaTypes,
            }, function (res) {
                vue.xuanjianghuiRecommendList = res.data.list;
            });

            if (localStorage.getItem('userid')) {
                http.request('xuanjianghuiCollection/list', 'get', {
                    page: 1,
                    limit: 1,
                    xuanjianghuiId: vue.detail.id,
                    yonghuId: localStorage.getItem('userid'),
                }, function (res) {
                    if(res.data.total >0){
                        res.data.list.forEach(element => {
                            if (element.xuanjianghuiCollectionTypes == 1) {
                                vue.storeupFlag = 1;
                            }
                            if (element.xuanjianghuiCollectionTypes == 2) {
                                vue.zanFlag = 1;
                            }
                            if (element.xuanjianghuiCollectionTypes == 3) {
                                vue.caiFlag = 1;
                            }
                        });

                    }
                });
            }
        });
    </script>
</body>
</html>
